body{
    font-family: 'Oswald', sans-serif;
    background-image: url('/GRR/1640950196_1-abrakadabra-fun-p-kosmicheskii-fon-svetlii-1.jpg');
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
}
h1{
    text-align: center;
    color: blueviolet;
    font-size: 90px;
}    
h2{
    text-align: left;
    color:rgb(15, 53, 3);
}
h3{
    text-align: left;
    font-size: 45px;
}
.ufu{
    width: 500px;
}
.btn{
    border: 1px solid black;
    padding: 10px 20px;
    margin-left: 10px;
    color:aliceblue;
    background-color: blue;
    border-radius: 10px;
}
