body{
    font-family: 'Oswald', sans-serif;
    background-image: url('/GRR/e1dffc73b671a341dd0c34cd5cd5b400.jpg');
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
}
h1{
    text-align: center;
    color: blueviolet;
    font-size: 90px;
}    
h2{
    text-align: left;
    color: rgb(178, 199, 129);
}
h3{
    text-align: left;
    font-size: 45px;
}
.ufu{
    width: 500px;
}
.btn{
    border: 1px solid black;
    padding: 10px 20px;
    margin-left: 10px;
    color:aliceblue;
    background-color: blue;
    border-radius: 10px;
}
h5{
    text-align: center;
    font-size: 60px;
    color: aliceblue;
}
p{
    color: rgb(116, 228, 112);
    text-shadow: 1px 1px 1px black;
    letter-spacing: 0.09em;
    word-spacing: 0.04em;
    line-height: 24px;
    
}
.dte{
    width: 400px;
    height: 300px;                                                                                    
}
